* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
.center {
    text-align: center;
}
.capital {
    text-transform: uppercase;
}
header, .search_div_top  {
    background-color: rgba(214,70,53,1);
    border-bottom: 5px solid  rgba(61,61,61,1);
}
.main_header {
    
}
.title_div {
    padding: 0.8em 0 0.8em 2em;
    font-size: 1.1em;
}
.title_div, .nav_list li:hover a,.list_item,.table_header, #search_bar, #search_bar_top {
    color: #fff;
}
.table_div {
    margin: auto;
    border: 1px solid rgba(75,141,248,1);
}
.table_section {
    padding: 1em 2em;
}
.pdf_icon {
    height: 1.75vw;
    width: 1.75vw;
}
.nav_list li {
	padding: 0.5em 2em;
	border-bottom: 1px solid rgba(75,75,75,1);
}
.nav_list li:hover {
	background-color: rgba(214,70,53,0.75);
}
#navbar {
	position: fixed;
  	height: 100%;
  	overflow: auto;
	width: 20%;
	/*border-right: 1px solid #f0f0f0;*/
	background-color: rgba(61,61,61,1);
	}
#navbar ul {
	overflow-y: auto; 
}
#main-doc {
	width: 80%;
	margin-left: 20%;
	height: 100%;
        /*background-color: #f0f0f0;*/
}
#navbar, #main-doc {
	float: left;
	overflow: auto;
}
.list_item {
    text-decoration: none;
}
.archive_link {
    border: 1px solid rgba(126,173,250,1);
    border-radius: 3px;
    padding: 3px;
    float: right;
    margin-right: 1em;
    font-size: 13px;
}
.inline { display: inline;}
.tables {
    border: 1px solid #cacaca;
    width: 96%;
    margin: 1em auto;
    text-align: center;
}
table, td, th {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #cacaca;
}
th, td {
    padding: 0.2em 0.5em;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
}
th {
    background-color: rgba(240,240,240,0.3);
    color: rgba(61,61,61,1);
}
.table_header {
    background-color: rgba(75,141,248,1);
    padding: 0.5em;
}
.table_header_title {
    font: 1.2em 'Raleway';
}
.faq_btn {
    padding: 0.3em 0.5em;
    /*background-color: rgba(214,70,53,1);*/
    background-color: rgba(103,193,0,1);
    border-radius: 3px;
    font-size: 14px;
}
.add_icon {
    height: 2vw;
    width: 2vw;
    float: right;
}
.add_new_title_div {
    padding: 1em;
}
@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #search_bar {
      width: 5em;
  }
  #navbar ul li a {float: left;}
  #main-doc {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  #navbar ul li a {
    text-align: center;
    float: none;
  }
  #search_bar {
      width: 5em;
  }
  #main-doc {
  	width: 100%;
  }
}
.form_container_div {
    padding: 2em;
}
input[type=text] {
    width: 30em;
    border: 1px solid #cacaca;
    border-radius: 2px;
    height: 2em;
    padding-left: 5px;
}
#srch_btn, #srch_btn_top {
    background-color: rgba(103,193,0,1);
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 3px;
    margin-top: 10px;
}
.in_block {
    display: inline-block;
}
#submit_btn {
    width: 7rem;
    border: 1px solid rgba(103,193,0,1);
    margin-top: 2rem;
}
#submit_btn:hover {
    background-color: rgba(64,118,3,1);
}
label, .label_t {
    color: rgba(61,61,61,1);
}
.label_t {
    margin-top: 1em;
}
#search_bar, #search_bar_top {
    width: 11rem;
    height: 2rem;
}
.nav_links, #search_bar, #search_bar_top, .archive_link {
    background: transparent;
    cursor: pointer;
}
#search_bar {
    border: 1px solid rgba(75,75,75,1);
}
#search_bar_top {
    border: 1px solid rgba(219,108,98,1);
}
.search_div {
    padding: 1em 0 1em 2em;
}
.search_div_top {
    padding: 0.25em 2em 0.3em 0;
    text-align: right;
}
.description_box {
    text-align: left;
    padding-left: 0.5em;
}
.edit_icon {
    margin-right: 1em;
}
.nav_links {
    border: none;
    font: 1em 'Open Sans';
}